<div id="navbar-example" data-spy="affix" data-offset-top="50">
    <ul class="nav nav-stacked nav-pills" role="tablist">
        <li><a href="#panel-default">Panel Default</a></li>
        <li><a href="#address">Address</a></li>
    </ul>
</div>