div#navbar-example(data-spy="affix", data-offset-top="50")
    ul.nav.nav-stacked.nav-pills(role="tablist")
        li
            a(href="#skills") Skills
        li
            a(href="#address") Address
        li
            a(href="#panel-default") Panel Default
