<h3>
    Address
    <a href="/docs/address.AddressController.html">See documentation</a>
</h3>

<div ng-controller="AddressController as form" class="frame-adresses">
    <div class="row">
        <div class="col-md-6">
            <div class="row m-b_20" ng-repeat="item in form.addresses">
                <div class="col-md-3">
                    Address
                </div>
                <div class="col-md-9">
                    <form editable-form name="addressForm" oncancel="form.cancel($index)"
                          onaftersave="form.saveAddress($index)">
                        <div class="form-group">
                            <span editable-text="item.title" e-form="addressForm" e-placeholder="Title" e-required>{{ item.title || &apos;empty&apos;  }}</span>
                        </div>
                        <div class="form-group">
                    <span editable-text="item.state" e-form="addressForm"
                          e-googleplace="'country'" e-name="country" e-lat="item.latLng.lat.country"
                          e-lng="item.latLng.lng.country"
                          e-placeholder="State">{{ item.state || &apos;empty&apos;  }}</span>
                        </div>
                        <div class="form-group">
                    <span editable-text="item.city" e-form="addressForm" e-googleplace="'locality'" e-name="locality"
                          e-lat="item.latLng.lat.locality" e-lng="item.latLng.lng.locality"
                          e-placeholder="City">{{ item.city || &apos;empty&apos;  }}</span>
                        </div>
                        <div class="form-group">
                    <span editable-text="item.zipcode"
                          e-form="addressForm" e-placeholder="Zipcode"
                          e-googleplace="['postal_code', 'sublocality_level_1']"
                          e-lat="item.latLng.lat.sublocality_level_1" e-lng="item.latLng.lng.sublocality_level_1"
                          e-name="postal_code">{{ item.zipcode || &apos;empty&apos;  }}</span>
                        </div>
                        <div class="form-group">
                    <span editable-text="item.address"
                          e-form="addressForm" e-placeholder="Address" e-googleplace="'route'" e-name="route"
                          e-lat="item.latLng.lat.route" e-lng="item.latLng.lng.route">{{ item.address || &apos;empty&apos;  }}</span>
                        </div>
                        <button type="button" class="btn btn-default" ng-click="addressForm.$show()"
                                ng-show="!addressForm.$visible">Edit
                        </button>
                        <button type="button" class="btn btn-default" ng-click="form.removeAddress($index)"
                                ng-show="!addressForm.$visible">
                            Remove
                        </button>
                        <button type="button" class="btn btn-success"
                                ng-click="form.viewLocation(item.latLng.main.lat, item.latLng.main.lng)"
                                ng-show="!addressForm.$visible">View on a map
                        </button>

                        <div class="btn-form" ng-show="addressForm.$visible"
                             ng-init="form.formShowWhenNew(addressForm, $index)">
                            <button type="submit" ng-disabled="addressForm.$waiting" class="btn btn-primary">save
                            </button>
                            <button type="button" ng-disabled="addressForm.$waiting" ng-click="addressForm.$cancel()"
                                    class="btn btn-default">cancel
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <button type="button" ng-click="form.addAddress()" class="btn btn-default">Add place</button>
        </div>
        <div class="col-md-6">
            <div ui-map="form.addressMap" ui-options="form.mapOptions" class="gmap"></div>
        </div>
    </div>
</div>