<h3>Panel default
<a href="/docs/panels.panel-default.html">See documentation</a>
</h3>
<panel>
    <panel-header>
        It is a header
    </panel-header>
    <panel-body>
        It is a body
    </panel-body>
</panel>