<!doctype html>
<html>
  <head>
    <title>JSDoc: Index</title>
    <link type="text/css" rel="stylesheet" href="css/jsdoc-default.css">
    <link href="css/prettify-tomorrow.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,700" rel="stylesheet" type="text/css">
    <link href="css/custom.css" type="text/css" rel="stylesheet">
    <script src="js/prettify.js"></script>
    <script src="js/angular.min.js"></script>
  </head>
  <body ng-app="">
    <nav>
      <h2><a href="index.html">Index</a></h2>
      <ul class="module">
        <!-- panels -->
        <h3>
          <a href="" ng-click="modulepanels = !modulepanels">
            module: panels
          </a>
          <i ng-cloak="" ng-show="modulepanels">+</i>
        </h3>
        <li id="panels" ng-hide="modulepanels">
          <ul class="group">
            <h3>
              <a href="" ng-click="panelsdirective = !panelsdirective">
                directive
              </a>
              <i ng-cloak="" ng-show="panelsdirective">+</i>
            </h3>
            <ul ng-hide="panelsdirective">
              <li>
                <a href="panels.panel-default.html">panel-default</a>
              </li>
            </ul>
          </ul>
        </li>
      </ul><ul class="module">
        <!-- skills -->
        <h3>
          <a href="" ng-click="moduleskills = !moduleskills">
            module: skills
          </a>
          <i ng-cloak="" ng-show="moduleskills">+</i>
        </h3>
        <li id="skills" ng-hide="moduleskills">
          <ul class="group">
            <h3>
              <a href="" ng-click="skillsdirective = !skillsdirective">
                directive
              </a>
              <i ng-cloak="" ng-show="skillsdirective">+</i>
            </h3>
            <ul ng-hide="skillsdirective">
              <li>
                <a href="skills.skill-default.html">skill-default</a>
              </li>
            </ul>
          </ul>
        </li>
      </ul>
    </nav>
    <div id="content" class="page-wrap">
      <h1 class="title">
        Index
      </h1>
      <div id="main" class="big-container">
        <!-- source code html -->
        <!-- index.html -->
        <section class="section-readme">
          <article>
            <h1>HandBook modules</h1><p>You should run <code>npm install</code> and <code>bower install</code> console commands before runing <code>gulp</code> command.</p>
<p>You should run <code>gulp serve</code> every time you want to work on the project and run a demo of plugin in your browser.</p>
<p>You should run <code>gulp</code> if you want to build a project.</p>
<p>You should run <code>gulp docs</code> for building a documentation.</p>
<p>You should run <code>gulp watch:docs</code> for rebuilding after source changes.</p>
<p>You should run <code>gulp watch:docs</code> for rebuilding after source changes.</p>
<p>You should run <code>gulp deploy</code> for publish documentation <a href="http://webcodium.github.io/handbook-modules/index.html">See here</a>.</p>
<p>Author: yura.l@webcodium.com</p>
          </article>
        </section>
        <!-- class files -->
      </div>
      <footer style="clear:both">
        Documentation generated by
        <a href="https://github.com/jsdoc3/jsdoc">JSDoc 3.3.2</a>
        using
        <a href="https://github.com/allenhwkim/angular-jsdoc">Angular-JSDoc template</a>
      </footer>
    </div>
    <!--%= prettyJson %-->
    <script>
      prettyPrint();
      var lineNo = window.location.hash.match(/#line([0-9]+)$/);
      lineNo && document.querySelector("ol li:nth-child("+(lineNo[1])+")").scrollIntoView();
    </script>
  </body>
</html>