.m-b_20 {
    margin-bottom: 20px;
}

.m-b_10 {
    margin-bottom: 10px;
}

[data-spy="scroll"] {
    position: relative;
}

[data-spy="affix"] {
    top: 20px;
}

.navbar-brand {
    padding-top: 5px;
    padding-bottom: 5px;
}

.frame-modules h3 a, .frame-modules h4 a {
    font-size: 12px;
}

.frame-adresses .editable-wrap {
    display: block;
}

.frame-adresses .gmap {
    height: 400px;
}

.ui-slider {
    position: relative;
}

.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    cursor: default;
    height: 100%;
    width: 10px;
    margin-left: -5px;
}

.ui-slider .ui-slider-handle:before, .ui-slider .ui-slider-handle:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
}

.ui-slider .ui-slider-handle:before {
    border-left: 1px solid #fff;
    height: 100%;
    left: 50%;
    margin-left: -1px;
}

.ui-slider .ui-slider-handle:after {
    top: 50%;
    width: 100%;
    height: 10px;
    margin-top: -5px;
    background-color: #fff;
    border-radius: 5px;
}

.ui-widget-content {
    background-color: #aaaaaa;
}

.skill-level-text {
    position: absolute;
    color: darkolivegreen;
}

.left-skill-level-text {
    padding-right: 15px;
}

.right-skill-level-text {
    padding-left: 15px;
}