<!DOCTYPE html>
<html lang="en" ng-app="demo" ng-cloak>
<head>
    <meta charset="UTF-8">
    <title>Handbook Modules</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/bower_components/angular-xeditable/dist/css/xeditable.css">
    <link rel="stylesheet" href="/public/style/main.css">
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/js/scrollspy.js"></script>
    <script src="/bower_components/bootstrap/js/affix.js"></script>

    <script src="/bower_components/angular/angular.js"></script>
    <script src="/public/scripts/main.js"></script>

    <script src="/bower_components/angular-xeditable/dist/js/xeditable.min.js"></script>

    <script src="/bower_components/angular-ui-event/dist/event.min.js"></script>
    <script src="/bower_components/angular-ui-map/ui-map.min.js"></script>

    <script src="/dist/app.js"></script>
    <script src="/dist/templates.js"></script>
</head>

<body data-spy="scroll" data-target="#navbar-example">
<div class="container">
    <%- partial('partials/navbar') %>

    <div class="row">
        <div class="col-md-2">
            <%- partial('partials/sidebar') %>
        </div>
        <div class="col-md-10 frame-modules">
            <div id="panel-default">
                <%- partial('partials/modules/panelDefault') %>
            </div>
            <div id="address">
                <%- partial('partials/modules/address') %>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&v=3.exp&sensor=false"></script>
</body>
</html>
