h4 Skills create and remove&nbsp;
    a(href="/docs/address.AddressController.html") See documentation
.frame-create-remove-skills(ng-controller="SkillCreateRemoveController as vm")
    .row.m-b_20
        .col-lg-12
            form.input-group.m-b_10(name="formCreateSkill", novalidate)
                input.form-control(type="text", name="skillName", ng-model="vm.nameSkill", ng-required="true")
                .input-group-btn
                    button.btn.btn-primary(type="submit", ng-click="vm.createSkill(vm.nameSkill)", ng-disabled="vm.isDisabled") Create skill
            .alert.alert-warning(ng-show="vm.submitted && formCreateSkill.skillName.$error.required") Enter a name of skill
            .alert.alert-danger(ng-if="vm.isDuplicate") This skill already exists
            ul.list-inline
                li.list-group-item.col-lg-3(ng-repeat="skill in vm.skills")
                    button.btn.btn-danger.btn-sm(ng-click="vm.removeSkill($index)")
                        | &times;
                    | &nbsp;&nbsp;{{skill.title}}
