<!doctype html>
<html>
  <head>
    <base href="../">
    <title>JSDoc: source : panel_default.directive.js</title>
    <link type="text/css" rel="stylesheet" href="css/jsdoc-default.css">
    <link href="css/prettify-tomorrow.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,700" rel="stylesheet" type="text/css">
    <link href="css/custom.css" type="text/css" rel="stylesheet">
    <script src="js/prettify.js"></script>
    <script src="js/angular.min.js"></script>
  </head>
  <body ng-app="">
    <nav>
      <h2><a href="index.html">Index</a></h2>
      <ul class="module">
        <!-- panels -->
        <h3>
          <a href="" ng-click="modulepanels = !modulepanels">
            module: panels
          </a>
          <i ng-cloak="" ng-show="modulepanels">+</i>
        </h3>
        <li id="panels" ng-hide="modulepanels">
          <ul class="group">
            <h3>
              <a href="" ng-click="panelsdirective = !panelsdirective">
                directive
              </a>
              <i ng-cloak="" ng-show="panelsdirective">+</i>
            </h3>
            <ul ng-hide="panelsdirective">
              <li>
                <a href="panels.panel-default.html">panel-default</a>
              </li>
            </ul>
          </ul>
        </li>
      </ul><ul class="module">
        <!-- skills -->
        <h3>
          <a href="" ng-click="moduleskills = !moduleskills">
            module: skills
          </a>
          <i ng-cloak="" ng-show="moduleskills">+</i>
        </h3>
        <li id="skills" ng-hide="moduleskills">
          <ul class="group">
            <h3>
              <a href="" ng-click="skillsdirective = !skillsdirective">
                directive
              </a>
              <i ng-cloak="" ng-show="skillsdirective">+</i>
            </h3>
            <ul ng-hide="skillsdirective">
              <li>
                <a href="skills.skill-default.html">skill-default</a>
              </li>
            </ul>
          </ul>
        </li>
      </ul>
    </nav>
    <div id="content" class="page-wrap">
      <h1 class="title">
        source : panel_default.directive.js
      </h1>
      <div id="main" class="big-container">
        <!-- source code html -->
        <article>
          <pre class="prettyprint source linenums"><code>/**
 * @memberof panels
 * @name panel-default
 * @ngdoc directive
 * @restrict E
 * @description
 * Displays default panel
 * @attr {Transclude} panelHeader Multi-slot transclusion
 * [See angular documentation](https://docs.angularjs.org/api/ng/directive/ngTransclude#multi-slot-transclusion)
 * @attr {Transclude} panelBody Multi-slot transclusion
 * [See angular documentation](https://docs.angularjs.org/api/ng/directive/ngTransclude#multi-slot-transclusion)
 * @example
 * &lt;panel>
 *  &lt;panel-header>
 *      Content of headers
 *  &lt;/panel-header>
 *  &lt;panel-body>
 *      Content of bodys
 *  &lt;/panel-body>
 * &lt;/panel>
 */
angular
    .module('app.panels')
    .directive('panel', panel);
panel.$inject = [];
function panel() {
    var directive = {
        link: link,
        restrict: 'E',
        transclude: {
            'header': '?panelHeader',
            'body': '?panelBody'
        },
        replace: true,
        templateUrl: 'panel_default.template.html'
    };
    return directive;
    function link(scope, element, attrs) {
    }
}</code></pre>
        </article>
        <!-- index.html -->
        <!-- class files -->
      </div>
      <footer style="clear:both">
        Documentation generated by
        <a href="https://github.com/jsdoc3/jsdoc">JSDoc 3.3.2</a>
        using
        <a href="https://github.com/allenhwkim/angular-jsdoc">Angular-JSDoc template</a>
      </footer>
    </div>
    <!--%= prettyJson %-->
    <script>
      prettyPrint();
      var lineNo = window.location.hash.match(/#line([0-9]+)$/);
      lineNo && document.querySelector("ol li:nth-child("+(lineNo[1])+")").scrollIntoView();
    </script>
  </body>
</html>